In [1]:
from pyspark.sql import SparkSession

In [2]:
spark=SparkSession.builder.appName('Agg').getOrCreate()

In [3]:
spark

In [4]:
df = spark.read.csv('employees.csv',header=True, inferSchema=True)

In [5]:
df.show()

+------+------------+------+
|  NAME| DEPARTMENTS|SALARY|
+------+------------+------+
|Johnny|Data Science| 50000|
|Johnny|         IOT| 23000|
|  Matt|    Big Data| 32000|
|Johnny|    Big Data| 32000|
|  Matt|Data Science| 65000|
|Suresh|Data Science| 70000|
|Suresh|         IOT| 43000|
|Suresh|    Big Data| 50000|
| Sunny|Data Science| 21000|
| Sunny|    Big Data| 12000|
+------+------------+------+

In [6]:
df.printSchema()

root
 |-- NAME: string (nullable = true)
 |-- DEPARTMENTS: string (nullable = true)
 |-- SALARY: integer (nullable = true)

In [11]:
## Groupby operations
### Finding the max salary

df.groupBy('NAME').sum().show()

+------+-----------+
|  NAME|sum(SALARY)|
+------+-----------+
|Suresh|     163000|
| Sunny|      33000|
|Johnny|     105000|
|  Matt|      97000|
+------+-----------+

In [17]:
### Groupby departments to find the max salary.
df.groupBy('DEPARTMENTS').sum().show()

+------------+-----------+
| DEPARTMENTS|sum(SALARY)|
+------------+-----------+
|         IOT|      66000|
|    Big Data|     126000|
|Data Science|     206000|
+------------+-----------+

In [18]:
df.groupBy('DEPARTMENTS').mean().show()

+------------+-----------+
| DEPARTMENTS|avg(SALARY)|
+------------+-----------+
|         IOT|    33000.0|
|    Big Data|    31500.0|
|Data Science|    51500.0|
+------------+-----------+

In [19]:
 df.groupBy('DEPARTMENTS').count().show()

+------------+-----+
| DEPARTMENTS|count|
+------------+-----+
|         IOT|    2|
|    Big Data|    4|
|Data Science|    4|
+------------+-----+

In [21]:
df.agg({'SALARY':'sum'}).show()
## aggregate of total salary.

+-----------+
|sum(SALARY)|
+-----------+
|     398000|
+-----------+

In [23]:
df.groupBy('NAME').max().show()

+------+-----------+
|  NAME|max(SALARY)|
+------+-----------+
|Suresh|      70000|
| Sunny|      21000|
|Johnny|      50000|
|  Matt|      65000|
+------+-----------+

In [26]:
df.groupBy('NAME').min().show()

+------+-----------+
|  NAME|min(SALARY)|
+------+-----------+
|Suresh|      43000|
| Sunny|      12000|
|Johnny|      23000|
|  Matt|      32000|
+------+-----------+