In [1]:
from pyspark.sql import SparkSession

In [8]:
spark = SparkSession.builder.appName('DataFrame').getOrCreate()

In [9]:
spark

In [74]:
df_pyspark = spark.read.option('header', 'true').csv('test.csv',inferSchema=True)

In [75]:
df_pyspark.printSchema()

root
 |-- NAME: string (nullable = true)
 |-- AGE: integer (nullable = true)
 |-- EXPERIENCE: integer (nullable = true)

In [76]:
df_pyspark=spark.read.csv('test.csv', header=True, inferSchema=True)
df_pyspark.show()
df_pyspark.printSchema()

+----+---+----------+
|NAME|AGE|EXPERIENCE|
+----+---+----------+
|JON | 21|        10|
| VON| 23|        20|
| RON| 25|        30|
+----+---+----------+

root
 |-- NAME: string (nullable = true)
 |-- AGE: integer (nullable = true)
 |-- EXPERIENCE: integer (nullable = true)

In [23]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [26]:
df_pyspark.head(3)

[Row(NAME='JON ', AGE=21, EXPERIENCE=10),
 Row(NAME='VON', AGE=23, EXPERIENCE=20),
 Row(NAME='RON', AGE=25, EXPERIENCE=30)]

In [32]:
 df_pyspark.select(['NAME','EXPERIENCE']).show()

+----+----------+
|NAME|EXPERIENCE|
+----+----------+
|JON |        10|
| VON|        20|
| RON|        30|
+----+----------+

In [37]:
df_pyspark.select('AGE').show()

+---+
|AGE|
+---+
| 21|
| 23|
| 25|
+---+

In [38]:
df_pyspark.dtypes

[('NAME', 'string'), ('AGE', 'int'), ('EXPERIENCE', 'int')]

In [55]:
df_pyspark.describe().show()

+-------+----+----+----------+
|summary|NAME| AGE|EXPERIENCE|
+-------+----+----+----------+
|  count|   3|   3|         3|
|   mean|null|23.0|      20.0|
| stddev|null| 2.0|      10.0|
|    min|JON |  21|        10|
|    max| VON|  25|        30|
+-------+----+----+----------+

In [56]:
## adding columns to dataframes
df_pyspark = df_pyspark.withColumn('EXPERIENCE AFTER 2 YEARS', df_pyspark['EXPERIENCE']+2)

In [61]:
## Drop the columns 
df_pyspark = df_pyspark.drop('EXPERIENCE AFTER 2 YEARS')
df_pyspark.show()

+----+---+----------+
|NAME|AGE|EXPERIENCE|
+----+---+----------+
|JON | 21|        10|
| VON| 23|        20|
| RON| 25|        30|
+----+---+----------+

In [79]:
## Renaming the columns
df_pyspark = df_pyspark.withColumnRenamed('NAME','NEW NAME')

In [80]:
df_pyspark.show()

+--------+---+----------+
|NEW NAME|AGE|EXPERIENCE|
+--------+---+----------+
|    JON | 21|        10|
|     VON| 23|        20|
|     RON| 25|        30|
+--------+---+----------+