In [1]:
from pyspark.sql import SparkSession

In [2]:
spark=SparkSession.builder.appName('dataframe').getOrCreate()

In [23]:
df = spark.read.csv('test.csv',header=True,inferSchema=True)
df.show()

+-----+----+----------+------+
| NAME| AGE|EXPERIENCE|SALARY|
+-----+----+----------+------+
| JON |  31|        10| 30000|
|  VON|  53|        20| 60000|
|  RON|  25|         2| 10000|
|BJORK|  23|         1| 10000|
| DORK|null|      null| 30000|
| null|  34|        10| 20000|
| null|  36|      null|  null|
+-----+----+----------+------+

In [24]:
from pyspark.ml.feature import Imputer

df =  df.na.drop(subset='NAME')

imputer = Imputer(
    inputCols=['AGE','EXPERIENCE','SALARY'],
    outputCols=['AGE','EXPERIENCE','SALARY']
).setStrategy("mean")

In [26]:
df = imputer.fit(df).transform(df)
df.show()

+-----+---+----------+------+
| NAME|AGE|EXPERIENCE|SALARY|
+-----+---+----------+------+
| JON | 31|        10| 30000|
|  VON| 53|        20| 60000|
|  RON| 25|         2| 10000|
|BJORK| 23|         1| 10000|
| DORK| 33|         8| 30000|
+-----+---+----------+------+

### FILTER OPERTATIONS

In [34]:
## Salary of people less than 20,000;
df.filter('SALARY<=30000').show()
df.filter('SALARY<=30000').select(['NAME','AGE']).show()

+-----+---+----------+------+
| NAME|AGE|EXPERIENCE|SALARY|
+-----+---+----------+------+
| JON | 31|        10| 30000|
|  RON| 25|         2| 10000|
|BJORK| 23|         1| 10000|
| DORK| 33|         8| 30000|
+-----+---+----------+------+

+-----+---+
| NAME|AGE|
+-----+---+
| JON | 31|
|  RON| 25|
|BJORK| 23|
| DORK| 33|
+-----+---+

In [39]:
df.filter((df['SALARY']<=20000) | (df['SALARY']>=50000)).show()

+-----+---+----------+------+
| NAME|AGE|EXPERIENCE|SALARY|
+-----+---+----------+------+
|  VON| 53|        20| 60000|
|  RON| 25|         2| 10000|
|BJORK| 23|         1| 10000|
+-----+---+----------+------+

In [40]:
df.filter(~(df['SALARY']<=20000)).show()

+----+---+----------+------+
|NAME|AGE|EXPERIENCE|SALARY|
+----+---+----------+------+
|JON | 31|        10| 30000|
| VON| 53|        20| 60000|
|DORK| 33|         8| 30000|
+----+---+----------+------+